.bgw {
	background-color: white;
	min-height: 40px;
}

.bgr {
	background-color: red;
	min-height: 40px;
}

.bga {
	background-color: aqua;
	min-height: 40px;
}

.bgy {
	background-color: yellow;
	min-height: 40px;
}

.bgbr {
	background-color: brown;
	min-height: 40px;
}

.bggry {
	background-color: gray;
	min-height: 40px;
}

.bgre {
	background-color: green;
	min-height: 40px;
}

.bgsl {
	background-color: silver;
	min-height: 40px;
}

.bggr {
	background-color: brown;
	min-height: 40px;
}
